<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ust.thesis.prototype.project.WeSync">
     <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
     
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name"
         android:theme="@style/AppTheme" >
         
        <activity 
            android:name=".HomePageActivity"
             android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreatePasswordActivity"
            android:screenOrientation="portrait"
                  android:label="Create Password"/>
        <activity android:name=".InsertPasswordActivity"
            android:screenOrientation="portrait"
                  android:label="Insert Password"/>
        <activity android:name=".HostOptionsActivity"
            android:screenOrientation="portrait"
                  android:label="Host"/>
        <activity android:name=".MemberOptionsActivity"
            android:screenOrientation="portrait"
                  android:label="Share"/>
        <activity android:name=".WhiteboardActivity"
                  android:label="WhiteboardActivity"/>
        <activity android:name=".DocumentActivity"
            android:screenOrientation="portrait"
                  android:label="Document"/>
        <activity android:name=".PictureActivity"
            android:screenOrientation="portrait"
                  android:label="Picture"/>
        <activity android:name=".VideoActivity"
            android:screenOrientation="portrait"
                  android:label="Video"/>
        <activity android:name=".SurveyActivity"
            android:screenOrientation="portrait"
                  android:label="Survey"/>
        <activity android:name=".MusicActivity"
            android:screenOrientation="portrait"
                  android:label="Music"/>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
